html {
    height: 100%;
}
body{
    /* background-image: url("Background.jpg"); */
    background-color: #000000;
    margin: 0;
    height: 100%;
    width: 100%;


}    

h1 {
    /*this font is from Google Fonts. The href was copied from there*/
	font-family: 'Square Peg', cursive;
    font-weight: bold;
    font-size:200px;
    text-align: left;
    color:#8e2f2f;
    position: relative;

    top: 15px;
    left: 15%;
    right: 50%;

    animation-name: example;
    animation-duration: 10s;
}

img {
    justify-content: right;
    
    left: 2%;
    right: 80%;
    
}

p {
    position: relative;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #8e2f2f;
	
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    
}

v {
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #8e2f2f;
	
    font-size: 14px;
    font-weight: lighter;
    text-align: left;
    margin: 0% 50% 0% 0%;
}

/* a:link {
    color: #8e2f2f;
} */


@keyframes example {
    0%   {color:#8e2f2f; }
  25%  {color:#C2EEF7; }
  75%  {color:#b5eef4; }
  100% {color:#8e2f2f; }
  }




a{
    /*this font is from Google Fonts. The href was copied from there*/
	font-family: 'Plus Jakarta Sans', sans-serif;
    color: #8e2f2f;
	
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding: 5px 10px 50px 10px;;
    margin: 20px 10px 50px 10px;

    /* animation-name: example;
    animation-duration: 10s; */
}

a:link {
    color: #8e2f2f;
}



div {
    justify-content: center;
    
  
  
}

.content {
    display: flex;
}

.relative-div  {
	position: relative;
    left: 50px;

    width: 55%;
	height: 55%;
    background-color: #C2EEF7;

	border-style: solid;
	border-width: 5px;
	border-color: #8e2f2f;

	padding: 5px 50px 50px 15px;
	margin: 5px 5px;

}


.box {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.562);
    top: 50px;
    left: 80%;
    right: 2%;
    padding: 20px;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;
	justify-content: center;
	align-items: flex-start;
	
}

/* #canvasContainer{
    position:relative;
    left: 5%;
    margin:0px;
    padding:0px;
    text-align:center;
} */